body {
    background: #DFC2F2;
	background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;	
	background-size: cover;
    color:#494331;
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/** Encabezado */
.logoImg {
    width: 350px;
}

.logo {
    background-color: white;
    width: 100%;
}

.nombreLogo {
    font-size: 250px;
    font-family: 'Jolly Lodger', cursive;
}

/** Barra de Menu */

#menu {
    background-color: #C9C971;
    font-size: 30px;
    padding: 10px;
}

.dropdown-menu {
    background-color: #C9C971;
    width: 300px;
    border: none;
}

.dropdown-item {
    font-size: 30px;
    padding: 10px;
}

#der {
    position: absolute;
    right: 20px;
}

#linkContacto{
    position: absolute;
    right: 100px;
}

/** Pie de pagina */
li{
    list-style: none;
}

.pieDePag{
    background-color: #C9C971;
}
.tabpieDePag{
    margin-top: 60px;
    margin-left: 60px;
    width: 100%;
    text-align: center;
}

.secP{
    text-align: left;
}

.tit1{
    font-size: 20px;
    font-weight: bold;
}

.masInf{
    vertical-align: center;
}

.listaInf{
    display: inline;
    margin-right: 35px;
}

.contac{
    vertical-align: top;
}

.iconos{
    height: 50px;
}

a{
    text-decoration: none;
    color:#494331;
}

/*! Para hacerlo responsive */
@media (max-width: 912px) {

    .logoImg {
        width: 250px;
    }

    .nombreLogo {
        font-size: 125px;
    }

    #menu {
        font-size: 25px;
    }

    .dropdown-menu {
        width: 250px;
    }

    .dropdown-item {
        font-size: 20px;
    }

    /* Pie de pagina */
    .pieDePag{
        margin-top: 10px;
        font-size: 10px;
    }

    .iconos{
        height: 15px;
    }

    .tabpieDePag{
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .listaInf{
        display: inline;
        margin-right: 5px;
    }
}

@media (max-width:630px){
    .nombreLogo {
        font-size: 100px;
        font-family: 'Jolly Lodger', cursive;
    }
}

@media (max-width:414px) {
    .logoImg {
        margin: auto;
        width: 180px;
    }
    .linkContacto {
        font-size: 15px;
    }
    .nombreLogo {
        font-size: 70px;
    }
    
    #menu {
        font-size: 15px;
    }

    .dropdown-menu {
        width: 250px;
    }
    
    .dropdown-item {
        font-size: 10px;
    }

    .text {
        text-align: center;
        font-size: 70px;
        font-family: 'Jolly Lodger', cursive;
    }
    .tit1{
        font-size: 15px;
    }
    .pieDePag{
        margin-top: 10px;
        font-size: 10px;
    }

    .iconos{
        height: 15px;
    }

    .tabpieDePag{
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .listaInf{
        display: inline;
        margin-right: 5px;
    }

}


