/** Cuerpo de pagina */
.text {
    margin-top: 40px;
    text-align: center;
    font-size: 150px;
    font-family: 'Jolly Lodger', cursive;
}

/** Carrousel */

#demo {
    margin: auto;
    width: 80%;
}