

/** Cuerpo de pagina */

.foto{
    width: 600px;
    position: absolute;
    top:350px;
    right:0px;
}

/** Formulario */

#form{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #C9C971;
}




/*! Para hacerlo responsive */
@media (max-width:1200px) {
    .foto{
        display: none;
    }
}


