/** Cuerpo de pagina */

.foto{
    width: 500px;
    position: absolute;
    top:450px;
    right:0px;
}

/** Formulario */


#form{
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #C9C971;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#nom,#ap,#correo,#contra{
    width: 600px;
}



/*! Para hacerlo responsive */
@media (max-width:1200px) {
    .foto{
        display: none;
    }
}


